<section id="contacts" class="contacts platforms">
    <div class="container">
        <div class="platforms__header-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="platforms__headers">Contact us</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!--<p class="contacts__text">-->
                    <!--Пишите на e-mail, чтобы получить бесплатный аудит социальных сетей-->
                <!--</p>-->
                <div class="contacts__flex-wrapper">
                    <div class="platforms__flex">
                        <div class="contacts__socicon-wrapper">
                            <i class="contacts__socicon fa fa-facebook"></i>
                            <span class="contacts__socicon-text"><a target="_blank" href="https://facebook.com/8tag.me">facebook.com/8tag.me</a></span>
                        </div>
                        <div class="contacts__socicon-wrapper">
                            <i class="contacts__socicon fa fa-phone"></i>
                            <span class="contacts__socicon-text">+38 (093) 604 02 18</span>
                        </div>
                        <div class="contacts__socicon-wrapper">
                            <i class="contacts__socicon fa fa-envelope-o"></i>
                            <span class="contacts__socicon-text"><a href="mailto:office@8tag.me">office@8tag.me</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>