<section id="feedback" class="platforms">
    <div class="container">
        <div class="platforms__header-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="platforms__headers">Feedback</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="feedback__flex-wrapper">
                    <div class="feedback__flex">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/C52BfYenxw0" frameborder="0" allowfullscreen></iframe>
                                <p class="feedback__text">Александр Андриенко</p>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/rgyq_vpRZ58" frameborder="0" allowfullscreen></iframe>
                                <p class="feedback__text">Олег Факеев</p>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/vHQAQYqmK6w" frameborder="0" allowfullscreen></iframe>
                                <p class="feedback__text">Ицхак Пинтосевич</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>