<section id="first" class="first">
    <div class="first__wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                        <div class="first__flex">
                            <p class="first__text first__text1">SMM?</p>
                            <p class="first__text first__text2 element"></p>
                            <p class="first__text first__arrow"><a href="#second"><i class="animated infinite zoomIn fa fa-angle-down"></i></a></p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>