    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="flex-container">
                        <div class="footer-menu">
                            <nav class="nav">
                                <ul id="footer-menu" class="flex-container">
                                    <li class="menu-item"><a href="#services" class="menu-item__link">What we do</a></li>
                                    <li class="menu-item"><a href="#projects" class="menu-item__link">Projects</a></li>
                                    <li class="menu-item"><a href="#team" class="menu-item__link">Team</a></li>
                                    <li class="menu-item"><a href="#" class="menu-item__link">Contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="copyright">
                            <p class="copyright__text">© 2017 by 8tag</p>
                        </div>
                        <div class="social-links">
                            <div class="social-link__wrapper">
                                <a href="#" target="_blank" class="soclink transition"><i class="fa fa-facebook-square"></i></a>
                                <a href="#" target="_blank" class="soclink transition"><i class="fa fa-vk"></i></a>
                                <a href="https://www.youtube.com/channel/UC--Q-CcCCKmSYnEL-Mcp6Tg" target="_blank" class="soclink transition"><i class="fa fa-youtube"></i></a>
                                <a href="#" target="_blank" class="soclink transition"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="logo">
                                <a href="/"><img src="img/logo.png" alt="8tag" class="footer-logo" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="toTop" class="transition">
        <a href="#header"><i class="fa fa-angle-up"></i></a>
    </div>

<script src="js/main.js"></script>
</body>
</html>