    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="flex-container">
                        <div class="menu">
                            <nav class="nav">
                                <ul>
                                    <li class="menu-item"><a href="#" class="menu-item__link">What we do</a></li>
                                    <li class="menu-item"><a href="#" class="menu-item__link">Projects</a></li>
                                    <li class="menu-item"><a href="#" class="menu-item__link">Team</a></li>
                                    <li class="menu-item"><a href="#" class="menu-item__link">Contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="copyright">
                            <p class="copyright__text">© 2017 by 8tag</p>
                        </div>
                        <div class="social-links">
                            <div class="social-link__wrapper">
                                <i class="fa fa-vk"></i>
                            </div>
                            <div class="logo">
                                <img src="img/logo.png" alt="8tag" class="footer-logo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<script src="js/main.js"></script>
</body>
</html>