<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>8tag - SMM agency</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="flex-container">
                    <div class="menu">
                        <nav class="nav">
                            <ul class="flex-container">
                                <li class="menu-item transition"><a href="#" class="menu-item__link transition">We do</a></li>
                                <li class="menu-item transition"><a href="#" class="menu-item__link transition">Projects</a></li>
                                <li class="menu-item transition"><a href="#" class="menu-item__link transition">Team</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="logo">
                        <a href="/"><img src="img/logo.png" alt="8tag" class="header-logo"/></a>
                    </div>
                    <div class="btn-wrapper">
                        <div class="mybtn transition"><a href="#" class="btn-link">Contact us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

