<section id="platforms" class="platforms">
    <div class="container">
        <div class="platforms__header-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="platforms__headers">Platforms</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="platforms__flex-wrapper">
                    <div class="platforms__flex">
                        <div class="platforms__socicon-wrapper">
                            <i class="platforms__socicon fa fa-facebook-official"></i>
                            <p class="platforms__socicon-text">facebook</p>
                        </div>
                        <div class="platforms__socicon-wrapper">
                            <i class="platforms__socicon fa fa-instagram"></i>
                            <p class="platforms__socicon-text">instagram</p>
                        </div>
                        <div class="platforms__socicon-wrapper">
                            <i class="platforms__socicon fa fa-vk"></i>
                            <p class="platforms__socicon-text">В Контакте</p>
                        </div>
                        <div class="platforms__socicon-wrapper">
                            <i class="platforms__socicon fa fa-twitter"></i>
                            <p class="platforms__socicon-text">twitter</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>