<section class="services2" id="services2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="services2__border"></div>
                <div class="services2__headers">...And more</div>
            </div>
        </div>
        <span id="typed"></span>
        <div class="row">
            <div class="col-xs-12" style="padding: 0;">
                <div class="services2__flex-container">
                    <div class="services2__flex-item no-border">
                        <img src="img/targeting.jpg" alt="" class="targeting-img" id="targeting-img"/>
                        <a href="#targeting-services">
                            <div class="services2__flex-layout transition">
                                <p class="services2__flex-layout-text">
                                    Targeting
                                </p>
                            </div>
                        </a>
                        <div class="services2__flex-layout-text-new">
                            <p>Targeting</p>
                        </div>
                    </div>
                    <div class="services2__flex-item">
                        <img src="img/design.jpg" alt="" class="targeting-img" id="design-img"/>
                        <a href="#design-services">
                            <div class="services2__flex-layout transition">
                                <p class="services2__flex-layout-text">
                                    Design
                                </p>
                            </div>
                        </a>
                        <div class="services2__flex-layout-text-new">
                            <p>Design</p>
                        </div>
                    </div>
                    <div class="services2__flex-item">
                        <img src="img/photo.jpg" alt="" class="targeting-img" id="photo-img"/>
                        <a href="#photo-services">
                            <div class="services2__flex-layout transition">
                                <p class="services2__flex-layout-text">
                                    Photo
                                </p>
                            </div>
                        </a>
                        <div class="services2__flex-layout-text-new">
                            <p>Photo</p>
                        </div>
                    </div>
                    <div class="services2__flex-item">
                        <img src="img/video.jpg" alt="" class="targeting-img" id="video-img"/>
                        <a href="#video-services">
                            <div class="services2__flex-layout transition">
                                <p class="services2__flex-layout-text">
                                    Video
                                </p>
                            </div>
                        </a>
                        <div class="services2__flex-layout-text-new">
                            <p>Video</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding: 0;">
                <div class="services2-text__column">
                    <p class="text-for-services2" id="targeting-services">TARGETING Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate, dolor
                        dolorum ducimus esse et iste itaque quaerat, quo recusandae, sed similique voluptate?
                        Corporis culpa distinctio dolorem eaque illum ullam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto beatae dolor incidunt, itaque laboriosam molestias mollitia non officia quas recusandae reiciendis ullam unde? Dolor eius ipsum reprehenderit unde voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis cupiditate doloremque ducimus ea excepturi ipsum itaque iusto magni minima natus nesciunt nisi quae quas sequi, vel veritatis vero voluptas!
                    </p>
                    <p class="text-for-services2" id="design-services">DESIGN Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate, dolor
                        dolorum ducimus esse et iste itaque quaerat, quo recusandae, sed similique voluptate?
                        Corporis culpa distinctio dolorem eaque illum ullam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto beatae dolor incidunt, itaque laboriosam molestias mollitia non officia quas recusandae reiciendis ullam unde? Dolor eius ipsum reprehenderit unde voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis cupiditate doloremque ducimus ea excepturi ipsum itaque iusto magni minima natus nesciunt nisi quae quas sequi, vel veritatis vero voluptas!
                    </p>
                    <p class="text-for-services2" id="video-services">VIDEO Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate, dolor
                        dolorum ducimus esse et iste itaque quaerat, quo recusandae, sed similique voluptate?
                        Corporis culpa distinctio dolorem eaque illum ullam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto beatae dolor incidunt, itaque laboriosam molestias mollitia non officia quas recusandae reiciendis ullam unde? Dolor eius ipsum reprehenderit unde voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis cupiditate doloremque ducimus ea excepturi ipsum itaque iusto magni minima natus nesciunt nisi quae quas sequi, vel veritatis vero voluptas!
                    </p>
                    <p class="text-for-services2" id="photo-services">PHOTO Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate, dolor
                        dolorum ducimus esse et iste itaque quaerat, quo recusandae, sed similique voluptate?
                        Corporis culpa distinctio dolorem eaque illum ullam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto beatae dolor incidunt, itaque laboriosam molestias mollitia non officia quas recusandae reiciendis ullam unde? Dolor eius ipsum reprehenderit unde voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis cupiditate doloremque ducimus ea excepturi ipsum itaque iusto magni minima natus nesciunt nisi quae quas sequi, vel veritatis vero voluptas!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>