<section class="services2" id="services2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="services2__border"></div>
                <div class="services2__headers">...And more</div>
            </div>
        </div>
        <span id="typed"></span>
        <div class="row">
            <div class="col-xs-12" style="padding: 0;">
                <div class="services2__flex-container">
                    <div class="services2__flex-item transition no-border">
                        <img src="img/targeting.jpg" alt="" class="targeting-img" id="targeting-img"/>
                        <a href="#targeting-services" class="transition">
                            <div class="services2__flex-layout transition">
                                <p class="services2__flex-layout-text transition">
                                    Targeting
                                </p>
                            </div>
                        </a>
                        <div class="services2__flex-layout-text-new transition">
                            <p>Targeting</p>
                        </div>
                    </div>
                    <div class="services2__flex-item transition">
                        <img src="img/design.jpg" alt="" class="targeting-img" id="design-img"/>
                        <a href="#design-services" class="transition">
                            <div class="services2__flex-layout transition">
                                <p class="services2__flex-layout-text transition">
                                    Design
                                </p>
                            </div>
                        </a>
                        <div class="services2__flex-layout-text-new transition">
                            <p>Design</p>
                        </div>
                    </div>
                    <div class="services2__flex-item transition">
                        <img src="img/photo.jpg" alt="" class="targeting-img" id="photo-img"/>
                        <a href="#photo-services" class="transition">
                            <div class="services2__flex-layout transition">
                                <p class="services2__flex-layout-text transition">
                                    Photo
                                </p>
                            </div>
                        </a>
                        <div class="services2__flex-layout-text-new transition">
                            <p>Photo</p>
                        </div>
                    </div>
                    <div class="services2__flex-item transition">
                        <img src="img/video.jpg" alt="" class="targeting-img" id="video-img"/>
                        <a href="#video-services" class="transition">
                            <div class="services2__flex-layout transition">
                                <p class="services2__flex-layout-text transition">
                                    Video
                                </p>
                            </div>
                        </a>
                        <div class="services2__flex-layout-text-new transition">
                            <p>Video</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding: 0;">
                <div class="services2-text__column">
                    <p class="text-for-services2 transition" id="targeting-services">
                        Таргетированная реклама в социальных сетях — механизм, позволяющий среди всех пользователей ресурса выбрать определённые целевые аудитории и работать только с ними, минимизируя неэффективные показы объявлений. Под краткосрочный проект или отдельную услугу мы проведём эффективную рекламную кампанию без создания и развития самостоятельных страниц бренда. Принцип такой кампании — обеспечить переходы на целевую страницу или прямые продажи, используя социальные сети как рекламную площадку.
                    </p>
                    <p class="text-for-services2 transition" id="design-services">
                        Единый визуальный стиль должен поддерживаться не только в рамках SMM-продвижения, но и во всех других составляющих проекта. В соответствии с разработанным нами дизайном страниц в социальных сетях мы оформим визитки, афиши, листовки, прес-воллы, банеры и стенды под продвигаемое событие. По отдельному запросу дизайнер также может поработать над презентацией, брошюрой, логотипом.
                    </p>
                    <p class="text-for-services2 transition" id="photo-services">
                        Для того, чтобы продать что-то клиенту, лучше всего это не только описать, но и показать. Без иллюстрации рекламный текст будет неубедительным. Чтобы получить качественный визуальный контент, мы разработаем концепт, найдём моделей и проведём студийную или выездную фотосъёмку продукта. Если же речь идёт о мероприятии, мы можем включить в пакет комплексного сопровождения посменную работу фотографов на локации. Наши фотографы оперативно снимают и обрабатывают материал, и меньше чем через час фото ключевых моментов события появляются в социальных сетях.
                    </p>
                    <p class="text-for-services2 transition" id="video-services">
                        Видео — самый сильный формат контента для социальных сетей. Демонстрация продукта в действии и эмоции, которые она вызывает, работают лучше любой другой рекламы. Совместно с продакшн-студией MONOCHROME мы готовим проморолики, короткие снеп-видео и другой видеоконтент для продвижения в социальных сетях. Также в пакет мы можем включить профессиональную репортажную съёмку мероприятия, оперативный монтаж и публикацию снепов день в день, подготовку афтермуви, спонсорских роликов, съёмку с дрона.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>