<section id="services" class="services">
    <div class="services__border"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="headers services__headers">we do</p>
                <h2 class="services__h2">Комплексное SMM-сопровождение</h2>
            </div>
        </div>
        <div class="services__icon-wrapper">
            <div class="services__icon-flex">
                <div class="services__wrapper">
                    <a href="#text-area1" class="active"><i class="fa fa-clock-o"></i></a>
                    <p class="services__icon-text">Постановка задачи</p>
                </div>
                <div class="services__wrapper">
                    <a href="#text-area2"><i class="fa fa-pie-chart"></i></a>
                    <p class="services__icon-text">Анализ</p>
                </div>
                <div class="services__wrapper">
                    <a href="#text-area3"><i class="fa fa-bar-chart"></i></a>
                    <p class="services__icon-text">Стратегия</p>
                </div>
                <div class="services__wrapper">
                    <a href="#text-area4"><i class="fa fa-pencil"></i></a>
                    <p class="services__icon-text">Дизайн</p>
                </div>
                <div class="services__wrapper">
                    <a href="#text-area5"><i class="fa fa-star-o"></i></a>
                    <p class="services__icon-text">Авторский контент</p>
                </div>
                <div class="services__wrapper">
                    <a href="#text-area6"><i class="fa fa-cog"></i></a>
                    <p class="services__icon-text">Настройка, реклама</p>
                </div>
                <div class="services__wrapper">
                    <a href="#text-area7"><i class="fa fa-play-circle-o"></i></a>
                    <p class="services__icon-text">Работаем</p>
                </div>
                <div class="services__wrapper">
                    <a href="#text-area8"><i class="fa fa-file-text-o"></i></a>
                    <p class="services__icon-text">Отчетность</p>
                </div>
            </div>
            <div class="services__icon-flex" style="bottom:0">
                <div class="services__text-area">
                    <p class="text-area" id="text-area1">1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi error fuga incidunt libero magnam molestias saepe unde, voluptas! Enim esse maiores mollitia, nostrum officia omnis quod. Consectetur facere itaque nisi!</p>
                    <p class="text-area" id="text-area2">2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi error fuga incidunt libero magnam molestias saepe unde, voluptas! Enim esse maiores mollitia, nostrum officia omnis quod. Consectetur facere itaque nisi!</p>
                    <p class="text-area" id="text-area3">3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi error fuga incidunt libero magnam molestias saepe unde, voluptas! Enim esse maiores mollitia, nostrum officia omnis quod. Consectetur facere itaque nisi!</p>
                    <p class="text-area" id="text-area4">4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi error fuga incidunt libero magnam molestias saepe unde, voluptas! Enim esse maiores mollitia, nostrum officia omnis quod. Consectetur facere itaque nisi!</p>
                    <p class="text-area" id="text-area5">5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi error fuga incidunt libero magnam molestias saepe unde, voluptas! Enim esse maiores mollitia, nostrum officia omnis quod. Consectetur facere itaque nisi!</p>
                    <p class="text-area" id="text-area6">6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi error fuga incidunt libero magnam molestias saepe unde, voluptas! Enim esse maiores mollitia, nostrum officia omnis quod. Consectetur facere itaque nisi!</p>
                    <p class="text-area" id="text-area7">7 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi error fuga incidunt libero magnam molestias saepe unde, voluptas! Enim esse maiores mollitia, nostrum officia omnis quod. Consectetur facere itaque nisi!</p>
                    <p class="text-area" id="text-area8">8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi error fuga incidunt libero magnam molestias saepe unde, voluptas! Enim esse maiores mollitia, nostrum officia omnis quod. Consectetur facere itaque nisi!</p>
                </div>
            </div>
        </div>
    </div>
</section>