<section class="team" id="team">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="services2__border"></div>
                <div class="services2__headers">Our team</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="team__flex-container">
                    <div class="team__flex-item">
                        <img src="img/team/misha.png" alt="misha" class="teammate transition" onmouseover="this.src='img/team/misha-hover.png';"
                             onmouseout="this.src='img/team/misha.png';" />
                        <div class="teammate-description text-center">
                            <p class="teammate-name">Михаил Мовчан</p>
                            <p class="teammate-position">основатель, CEO</p>
                        </div>
                    </div>
                    <div class="team__flex-item">
                        <img src="img/team/katya.png" alt="katya" class="teammate transition" onmouseover="this.src='img/team/katya-hover.png';"
                             onmouseout="this.src='img/team/katya.png';" />
                        <div class="teammate-description text-center">
                            <p class="teammate-name">Екатерина Махаева</p>
                            <p class="teammate-position">основатель, CОO, контент-директор</p>
                        </div>
                    </div>
                    <div class="team__flex-item">
                        <img src="img/team/lipchak.png" alt="lipchak" class="teammate transition" onmouseover="this.src='img/team/lipchak-hover.png';"
                             onmouseout="this.src='img/team/lipchak.png';" />
                        <div class="teammate-description text-center">
                            <p class="teammate-name">Илья Липчак</p>
                            <p class="teammate-position">основатель, продакшн-директор</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-team">
            <div class="row">
                <div class="col-xs-12">
                    <div class="team__flex-container" style="border-bottom: 0;">
                        <div class="team__flex-item-other">
                            <img src="img/team/lera.png" alt="lera" class="teammate transition" onmouseover="this.src='img/team/lera-hover.png';"
                             onmouseout="this.src='img/team/lera.png';" />
                            <div class="teammate-description text-center">
                                <p class="teammate-name">Валерия Козлова</p>
                                <p class="teammate-position">контент-менеджер</p>
                            </div>
                        </div>
                        <div class="team__flex-item-other">
                            <img src="img/team/sofa.png" alt="sofa" class="teammate transition" onmouseover="this.src='img/team/sofa-hover.png';"
                             onmouseout="this.src='img/team/sofa.png';" />
                            <div class="teammate-description text-center">
                                <p class="teammate-name">София Мацюця</p>
                                <p class="teammate-position">контент-менеджер</p>
                            </div>
                        </div>
                        <div class="team__flex-item-other">
                            <img src="img/team/toha.png" alt="toha" class="teammate transition" onmouseover="this.src='img/team/toha-hover.png';"
                             onmouseout="this.src='img/team/toha.png';" />
                            <div class="teammate-description text-center">
                                <p class="teammate-name">Антон Терещенко</p>
                                <p class="teammate-position">контент-менеджер</p>
                            </div>
                        </div>
                        <div class="team__flex-item-other">
                            <img src="img/team/bohdan.png" alt="bohdan" class="teammate transition" onmouseover="this.src='img/team/bohdan-hover.png';"
                             onmouseout="this.src='img/team/bohdan.png';" />
                            <div class="teammate-description text-center">
                                <p class="teammate-name">Богдан Токарев</p>
                                <p class="teammate-position">графический дизайнер</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-team">
            <div class="row">
                <div class="col-xs-12">
                    <div class="team__flex-container team__block-setting">
                        <!--<div class="team__flex-item-other">-->
                            <!--<img src="img/team/lera.png" alt="vitaliy" class="teammate transition" onmouseover="this.src='img/team/lera-hover.png';"-->
                                 <!--onmouseout="this.src='img/team/lera.png';" />-->
                            <!--<div class="teammate-description text-center">-->
                                <!--<p class="teammate-name">Виталий Стукальский</p>-->
                                <!--<p class="teammate-position">копирайтер</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="team__flex-item-other">
                            <img src="img/team/arsenit.png" alt="arsenit" class="teammate transition" onmouseover="this.src='img/team/arsenit-hover.png';"
                                 onmouseout="this.src='img/team/arsenit.png';" />
                            <div class="teammate-description text-center">
                                <p class="teammate-name">Арсений Найдёнов</p>
                                <p class="teammate-position">оператор, моушен-дизайнер</p>
                            </div>
                        </div>
                        <div class="team__flex-item-other">
                            <img src="img/team/sheh.png" alt="sheh" class="teammate transition" onmouseover="this.src='img/team/sheh-hover.png';"
                                 onmouseout="this.src='img/team/sheh.png';" />
                            <div class="teammate-description text-center">
                                <p class="teammate-name">Александр Шеховцов</p>
                                <p class="teammate-position">оператор, режиссёр монтажа</p>
                            </div>
                        </div>
                        <div class="team__flex-item-other">
                            <img src="img/team/kolotiy.png" alt="kolotiy" class="teammate transition" onmouseover="this.src='img/team/kolotiy-hover.png';"
                                 onmouseout="this.src='img/team/kolotiy.png';" />
                            <div class="teammate-description text-center">
                                <p class="teammate-name">Илья Колотий</p>
                                <p class="teammate-position">ивент-фотограф</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="team__quote">
                    <p>
                        Существуют проверенные приёмы, которые доказали эффективность. Существует индивидуальный подход к задаче, который может работать вопреки всем стандартам. Мы работаем на стыке двух парадигм, достигая уникальных показателей.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>