#toTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: $blue;
  opacity: .4;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
  &:hover {
    opacity: 1;
    transition: .25s;
  }
  i {
    font-size: 3rem;
    color: #fff;
    line-height: 2rem;
  }
}