@media all and (max-width: 768px) {
  .btn-wrapper {
    display: none;
  }
  .menu {
    display: none;
    position: absolute;
  }
  .go-menu {
    display: block;
  }
  .toggle {
    display: block;
    margin-left: auto;
  }
  .logo {
    order: -1;
  }
  #header {
    padding: 15px 0;
  }
  .menu-item {
    height: 42px;
  }
}