.projects {
  background-image: url("../img/bg-projects.jpg");
  background-size: cover;
  padding: 50px 0;
  .services__h2 {
    padding: 0 !important;
    text-transform: uppercase;
    font-size: 1.7rem;
  }
  &__text {
    color: #A3A2A1;
    font-family:$lato;
    text-align: center;
    margin-top: -20px;
  }
  &-text {
    background-color: #fff;
    &:before {
      content: '';
      display: block;
      border: 20px solid transparent;
      width: 30px;
      margin: 0 auto;
      border-top: 15px solid #252525;
    }
    &__column {
      padding: 35px 0;
    }
    &__column p {
      column-count: 2;
      column-gap: 30px;
      padding-left: 25px;
      font-family: $lato;
      &:before {
        content: '';
        height: 30px;
        width: 5px;
        position: absolute;
        left: 15px;
        display: block;
        background-color: #00bcd4;
      }
    }
  }
  &__headers {
    margin-bottom: 50px;
  }
  &__logo-wrapper {
    margin: 0;
    margin-top: -30px !important;
  }
}
.st0 {
  fill: #a0a0a0 !important;
}

.active-svg {
  .st0, .st1, .st2 {
    fill: $blue !important;
    &:hover {
      fill: $blue !important;
    }
  }
  svg {
    fill: $blue !important;
    &:hover {
      fill: $blue !important;
      .st0, .st1, .st2 {
        fill: $blue !important;
      }
    }
  }
}

.svg-logo:hover {
  cursor: pointer;
  .st0, .st1, .st2 {
    fill: #fff !important;
  }
}
